name: GraalVM Check

on:
    workflow_dispatch:
        inputs:
            lang_tag:
                description: Branch/Release Tag of the Ballerina Lang
                required: true
                default: 2201.9.x
            lang_version:
                description: Ballerina Lang Version (If given ballerina lang buid will be skipped)
                required: false
                default: 2201.9.0
            native_image_options:
                description: Default native-image options
                required: false
                default: ''
    schedule:
        -   cron: '30 18 * * *'
    pull_request:
        branches:
            - 2201.9.x
        types: [ opened, synchronize, reopened, labeled, unlabeled ]

concurrency:
    group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.run_id }}
    cancel-in-progress: true

jobs:
    call_stdlib_workflow:
        name: Run StdLib Workflow
        if: ${{ github.event_name != 'schedule' || (github.event_name == 'schedule' && github.repository_owner == 'ballerina-platform') }}
        uses: ballerina-platform/ballerina-library/.github/workflows/build-with-bal-test-graalvm-template.yml@2201.10.x
        with:
            lang_tag: ${{ inputs.lang_tag }}
            lang_version: ${{ inputs.lang_version }}
            native_image_options: ${{ inputs.native_image_options }}
            additional_ubuntu_build_flags: '-x :tcp-compiler-plugin-tests:test'
            additional_windows_build_flags: '-x :tcp-compiler-plugin-tests:test'
